body {
    color: #206a5d;
}

#team_allocation{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1em;
    justify-items: center;
}

.bold{
    font-weight: bold;
}




/**** Meg CSS **********/
#teams{
    background-color: #206a5d;

}
/***** End of Meg CSS****/
