{% extends "layout.html" %}

{% block sub_header %}
    <h2>Report Issues</h2>
{% endblock sub_header %}

{% block content %}
<div class="formpage">
<div class="space"></div>
<form action="" method="post">
    <!-- {{form.csrf_token}}
    <p>{{form.id.label(class_="lb")}}{{form.id(class_="inputline")}}</p>
    <p>{{form.password.label(class_="lb")}}{{form.password(class_="inputline")}}</p>
    <div class="space"></div>
    <p><a href="{{ url_for('register') }}"> Not Registered?</a></p>
    <div class="space"></div>
    <p>{{form.submit(class_="btn")}}</p> -->
</form>
</div>
{% endblock content %}