{% extends "layout.html" %}

{% block sub_header %}
    <h2>View Issues</h2>
{% endblock sub_header %}

{% block content %}
  {% for issue in issues %}
  <h3>* Team Involved </h3>
      <p>{{ issue.team_id }}</a></h3> </br>
          <p class = "pb-3">{{ issue.applicant_id }}</p>
         
          <p class = "pt-3">&nbsp by {{ issue.students_involved }} {{ issue.issue_type }}</p>
          <p>Last updated: <span>{{ issue.attempts_resolve }}</span></p>
          <p class = "pb-3">{{ issue.issue_description }}</p>

        </div>
      </div> 
  {% endfor %}
{% endblock content %}