<!-- {% extends "layout.html" %}

{% block sub_header %}
    <h2>View Issues</h2>
{% endblock sub_header %}

{% block content %}
  {% for issue in issues %}
      <!-- <p>{{ issue.title }}</a></h3> </br>
          <p class = "pb-3">{{ post.description }}</p>
          <a href="{{ url_for('post', post_id=post.id) }}"><img class = "blog_pic" src="{{ url_for('static', filename='img/' + post.image_file) }}"></a>
          <p class = "pt-3">&nbsp by {{ post.user.first_name }} {{ post.user.surname }}</p>
          <p>Last updated: <span>{{ post.date }}</span></p>
        </div>
      </div> -->
      <!-- <hr class="mt-2 mb-3">
    {% endfor %}
{% endblock content %} --> -->